* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
}

/* Ionic Integration Styles (if using Ionic Framework) */
/* For production usage involving npm package: */
/* @import 'ngxsmk-datepicker/styles/ionic-integration.css'; */

/* Local development import: */
@import '../../ngxsmk-datepicker/styles/ionic-integration.css';